@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');
*{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  padding: 0;
}
.app {
  background-color: silver;
  width: 65%;
  margin: auto;
  padding: 5rem 0;
}
